#root {
  height: 100%;
  width: 100%;
}

html {
  font: 16px/1.618 "Nunito", sans-serif;
  background-color: white;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
* {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body::-moz-selection {
  color: white;
  background-color: black;
}

::selection {
  color: white;
  background-color: black;
}

.selected {
  background-color: #4b008a !important;
}

span {
  font-weight: 800;
}